<span class='pull-right' id='timestamp'><i class='fa fa-clock-o fa-spin'></i></span>

<p><strong><span id='price'><i class='fa fa-bitcoin fa-spin'></i></span></strong></p>

<script type="text/javascript">
    fetch_data();
</script>