<% button_class = @usd_balance > 1 ? 'btn btn-xs btn-success' : 'btn btn-xs btn-success disabled' %>
<p>
    <button id='buy-btc' class='<%= button_class %>' onclick='buy(<%= @usd_balance %>)'>
        Buy All
    </button>
    
    $<span id='usd-amount'><%= @usd_balance.round(2) %></span> available
</p>