body {
    background-image: url("/img/symphony.png");
}

#main-container {
    padding-top: 50px;
}

#timestamp, #app-status {
    font-style: italic;
}

#app-status {
    text-align: right;
    padding-top: 20px;
}